@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './reset.min.css';
@import './button.scss';

#menu {
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}
  #menu ul {
    padding:0;
    margin:0;
  }
  #menu li{
    display: inline;
    list-style:none;
    margin: 5px 10px;
  }
     #menu li a {
        padding:5px 10px;
        color:black;
        text-decoration-color: green;
     }
  